body {
    background: white;
}


#header {
    background: ;
    
}

#content{
	margin-left: auto;
	margin-right:auto;
	
	
	
}

#nav{
     background:;
    
    
    
}

#main {
	
	;
     
	
	}

#footer {
	
    clear:both;
    background:;
	}
	